---
import Container from "@/components/ui/link/Container";
import CreateLink from "@/components/ui/link/Create";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard" activeLink="dashboard">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Links</h1>

  <div class="flex items-center justify-between py-4">
    <CreateLink client:load />
  </div>

  <Container client:only="react" />
</DashboardLayout>
