---
import { Heart } from "lucide-react";
---

<footer>
  <div class="mx-auto max-w-7xl p-4 pb-8 text-center font-semibold">
    <p class="flex items-center justify-center gap-1">
      Development by <span class="underline">Michelito</span>
      <Heart size={18} className="text-red-600" />
    </p>
  </div>
</footer>
