---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: customClass, ...props } = Astro.props;
---

<a
  href={href}
  class={cn(
    "inline-flex items-center justify-between gap-2 rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 cursor-pointer",
    customClass
  )}
  {...props}
>
  <slot />
</a>
